<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/missingmethods.js" type="text/javascript" charset="utf-8"></script>
	<script src="/offer_request_controller.js" type="text/javascript" charset="utf-8"></script>	
	<link href="/main.css" rel="stylesheet" type="text/css">
	<title>Lista offerter - MoveIT kundportal</title>
</head>
<body>
	<%= erb :returning_customer_menu, :locals => { :model => model } %>
	<div id="displayArea">	
		

		<div id="display">
			<br>
			<h1> Alla offerter </h1>
			<br>
			<br>
			<ul id="offers_list">
			<% model.offers_list.each do |offer|%>
				<li>Offert: <a href="<%= offer[1]%>"><%=offer[0]%></a><br><br></li>				
			<% end %>
			</ul> 			
		</div>
	</div>

</body>
