<style id="main" type="text/css">
	element.style {
	    display: block;
	}
	body {
	    font-family: arial,helvetica;
	    font-size: 0.75em;
	    background: none repeat scroll 0 0 #FFFFFF;
	    color: #000000;
	    font-family: arial,helvetica;
	    font-size: 0.75em;
	    margin: 0;
	    padding: 0;
	}		
	
	#menuArea {
	    background: none repeat scroll 0 0 #000000;
	    color: #999999;
	    display: none;
	    overflow: hidden;
	    padding: 0.3em 0.5em;
	    position: relative;
	    z-index: 150;
	}
	
	#menuArea a {
	    background: none repeat scroll 0 0 #000000;
	    border: medium none;
	    color: #FFFFFF;
	    font-weight: bold;
	    margin-left: 0.5em;
	    padding: 0.3em 0.5em;
	    text-decoration: none;
	}		
	
	#logoutButton {
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 175;
	}		
	#logoutButton a {
	    background: none repeat scroll 0 0 transparent;
	    border: medium none;
	    color: #FFFFFF;
	    margin: 0.1em;
	    padding: 0.3em 0.5em;	
	    font-weight: bold;		    
	}

	#displayArea {
	    margin-bottom: 0;
	    margin-left: 4em;
	    margin-right: 20em;
	    margin-top: 1em;
	}
		
	a {
	    -moz-text-blink: none;
	    -moz-text-decoration-color: -moz-use-text-color;
	    -moz-text-decoration-line: none;
	    -moz-text-decoration-style: solid;
	}		

	#offerPrice {
	    font-size: 1.5em;
	}
	
	.button {
	    padding-bottom: 0.2em;
	    padding-left: 0.4em;
	    padding-right: 0.4em;
	    padding-top: 0.2em;
	    border-width: 1px;
	    border-style: solid;
	    border-color: #FFFFFF;
	    color: #555555;
	    font-weight: bold;
	}

	.button:hover {
	    background-attachment: scroll;
	    background-clip: border-box;
	    background-color: #DDFFFF;
	    background-image: none;
	    background-origin: padding-box;
	    background-position: 0 0;
	    background-repeat: repeat;
	    background-size: auto auto;

	    border-color: #CCFFFF;
	    border-style: solid;
	    border-width: 0.5px;		    
	}

	#hint {
	    color: #777777;
	}		

	.editor label {
	    font-weight: bold;
	}	
	.editorZ input {
	    border: 1px solid #0044BB;
	}
	.editorZ input, .editorZ textarea {
	    display: block;
	    font: ;
	    width: 100%;
	}		
	element.style {
	    height: 326px;
	    width: 807px;
	}	
	.editorZ textarea {
	    border: 1px solid #0044BB;
	}
	
	
.errors {
    background: none repeat scroll 0 0 #DDFFFF;;
    border: 2px solid #CCFFFF;
    color: #000000;
    margin: 0em;
    padding: 0.5em;
}	
</style>
